<!DOCTYPE html>
<html lang="pt-br">
<head>
    <title>Dúvidas</title>
    <meta charset="UTF-8">
</head>

<body>
    <form action="" method="post">
        <div id="header">Como podemos ajudar?</div>
        <input type="text" name="" id="" placeholder="Digite sua dúvida, reclamação ou problema"><br>
        <input type="text" name="" id="" placeholder="Digite seu nome"><br>
        <input type="text" placeholder="Informe seu email">
        <input type="submit" name="" id="">
    </form><br>
    <div id="contato" >
        suporte@nyahfood.con <br>
        (XX) XXXX-XXXX
    </div>
  <br>
    <a href="menu.html"><button>Voltar</button></a>
</body>

</html>
