<!DOCTYPE html>
<html lang="pt-br">
  <head>
    <meta charset="utf-8">
    <title>Promoções</title>
  </head>
  <body>
    <table border="border">
    <tr>
    <th colspan="3">Promoções</th>
  </tr>
  <tr>
    <td>X Burguer</td>
    <td>Pizza</td>
    <td>Refrigerante</td>
  </tr>
  <tr>
    <td>X Burguer</td>
    <td>Pizza</td>
    <td>Refrigerante</td>
  </tr>
  <tr>
    <td>X Burguer</td>
    <td>Pizza</td>
    <td>Refrigerante</td>
  </tr>
  </table>
  <button>Anterior</button>
  <button>Proximo</button>
  <br>
  <a href="menu.html"><button>Voltar</button></a>

  </body>
</html>
